<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python/Flask Api</title>
    <style>
        body {
            background-color: rgb(27, 27, 27);
            color:azure;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Python/Flask Api</h1>
    <hr>
    <ol>
        <li>See info about the app @ <a href="/info">/info</a></li>
        <li>Dyanmic data fetch from a postgress db @ <a href="/members">/members</a></li>
    </ol>
</body>
</html>